@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
/* Logo Color: #0455BF */
/* Icon Attribution: https://www.flaticon.com/authors/wahya */

#root {
  width: 100%;
  font-family: 'Bitter';
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  background-color: #E5E4E2;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}

.logo {
  margin-right: 15px;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
  height: auto;
  max-width: 475.3px;
}

.header-container {
  background-color: #011140;
  width: 100%;
  padding: 10px 10px 20px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.welcome-message {
  color: #FFBF00;
  font-size: 18px;
  line-height: 1.5;
}

.fetch-trophy-container {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
}

.input-psn-id {
  background-color: #E5E4E2;
  color: #0455BF;
  padding: 10px 15px;
  width: 100%;
  font-family: 'Bitter';
  font-size: 16px;
  width: 450px;
  border: 0;
}

.input-psn-id:focus {
  outline: none;
  box-shadow: 0 0 30px #E5E4E2;
  border: 0;
}

.button-update {
  font-size: 16px;
  color: #E5E4E2;
  background-color: #0455BF;
  padding: 10px 15px;
  border: #000000;
  border-radius: 4px;
}

.button-update:hover {
  cursor: pointer;
  outline: none;
  border: #E5E4E2;
}

.button-update:active {
  background-color: #0047AB;
  transform: translateY(1px);
  box-shadow: none;
  border: #000000;
}

.message-container {
  position: absolute;
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.loading-text {
  color: #E5E4E2;
  font-size: 16px;
  font-weight: 700;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.error-text {
  color: #EE4B2B;
  font-weight: 700;
}

.content {
  display: flex;
  margin-top: 16px;
  background-color: #E5E4E2;
  flex-grow: 1;
  width: 100%;
}

.profile-container {
  flex-shrink: 0;
  max-width: 490.3px;
  width: 100%;
  background-color: #011140;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trophy-card-container {
  flex-grow: 1;
  background-color: #011140;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.avatar {
  margin-top: 30px;
}

.avatar img {
  width: 192px;
  height: 192px;
}

.username-and-plus {
  display: flex;
  align-items: center;
}

.username {
  color: #FFBF00;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Play';
}

.plus {
  display: none;
  margin-right: 10px;
  margin-top: 8px;
  flex-shrink: 0;
}

.plus img {
  width: 25px;
  height: 25px;
}

.plus-active {
  display: inline;
}