@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
/* Icon Attribution: https://www.flaticon.com/authors/freepik */

#root {
  width: 100%;
  font-family: 'Bitter';
  --bottom-row-height: 15vh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  background-color: #E5E4E2;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}

.logo {
  margin-right: 15px;
  flex-shrink: 0;
  transition: box-shadow 0.3s ease-in-out;
}

.logo img:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.logo img {
  width: 100%;
  max-width: 347px;
  margin-top: 15px;
}

.header-container {
  background-color: #353935;
  width: 100%;
  padding: 10px 10px 20px 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.welcome-message {
  color: #E5E4E2;
  font-size: 18px;
  line-height: 1.5;
}

.fetch-trophy-container {
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
}

.input-psn-id {
  background-color: #E5E4E2;
  color: #0455BF;
  padding: 10px 15px;
  width: 100%;
  font-family: 'Bitter';
  font-size: 16px;
  width: 450px;
  border: 0;
}

.input-psn-id:focus {
  outline: none;
  box-shadow: 0 0 30px #E5E4E2;
  border: 0;
}

.button-update {
  font-size: 16px;
  color: #E5E4E2;
  background-color: #0455BF;
  padding: 10px 15px;
  border: #000000;
  border-radius: 4px;
}

.button-update:hover {
  cursor: pointer;
  outline: none;
  border: #E5E4E2;
}

.button-update:active {
  background-color: #0047AB;
  transform: translateY(1px);
  box-shadow: none;
  border: #000000;
}

.message-container {
  position: absolute;
  left: calc(100% + 15px);
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}

.loading-text {
  color: #E5E4E2;
  font-size: 16px;
  font-weight: 700;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.error-text {
  color: #EE4B2B;
  font-weight: 700;
}

.content {
  display: flex;
  margin-top: 16px;
  background-color: #E5E4E2;
  flex-grow: 1;
  width: 100%;
}

.content-container {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.content-container::before,
.content-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.content-container::after {
  background: radial-gradient(
    ellipse at bottom,
    #3D9970 0%,
    transparent 60%
  );
  height: 60px;
}

.profile-container {
  flex-shrink: 0;
  max-width: 600px;
  width: 100%;
  background-color: #353935;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 192px;
  height: 192px;
}

.username-and-plus {
  display: flex;
  align-items: center;
}

.username {
  margin-top: 0;
  background: linear-gradient(to right, #3D9970, #98FB98, #3D9970);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 700;
  font-size: 25px;
  font-family: 'Play';
}

.plus {
  margin-bottom: 16px;
  display: none;
  margin-right: 10px;
  flex-shrink: 0;
}

.plus img {
  width: 25px;
  height: 25px;
}

.plus-active {
  display: inline;
}

.level-and-trophy {
  display: flex;
  flex-direction: column;
  background-color: rgb(255 255 255 / 10%);
  padding: 10px;
  border-radius: 15px;
  width: 50%;
}

.level-and-trophy-pair {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trophy-icon img {
  width: 35px;
  height: 35px;
}

.trophy-icon-text {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Montserrat';
}

.trophy-icon-label {
  font-style: italic;
  font-weight: 800;
  font-size: 18px;
  font-family: 'Montserrat';
}

.next-level-progress-bar {
  width: 100%;
  background-color: #353935;
  border: 1px solid #353935;
  overflow: hidden;
  height: 18px;
  position: relative;
}

.next-level-progress-bar-fill {
  height: 100%;
  background-color: #98DB7C;
  transition: width 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.next-level-progress-bar-text {
  color: #353935;
  font-style: italic;
  font-weight: 800;
  font-size: 12px;
  font-family: 'Montserrat';
}

.next-level-progress-bar-text-outside {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  color: #E5E4E2;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 800;
  z-index: 1;
}

.last-message {
  margin-top: 20px;
}

.last-message-label {
  font-size: 18px;
  line-height: 1.5;
  font-style: italic;
  color: #E5E4E2;
  text-align: center;
  padding: 5px;
  text-align: left;
}

.last-message-text {
  font-weight: 700;
}

.trophy-card-container {
  flex-grow: 1;
  background-color: #353935;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.trophy-card {
  width: 600px;
  height: 200px;
  background-color: rgb(255 255 255 / 10%);
  background-image: url('assets/trophy-card-background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.top-row {
  height: 48px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: space-between;
}

.trophy-card-user-container {
  display: flex;
  align-items: center;
}

.trophy-card-avatar {
  margin-right: 5px;
}

.trophy-card-avatar img {
  width: 48px;
  height: 48px;
  display: block;
}

.trophy-card-plus {
  margin-top: 7px;
  margin-right: 5px;
  display: none;
}

.trophy-card-plus img {
  width: 20px;
  height: 20px;
}

.trophy-card-plus-active {
  display: inline;
}

.trophy-card-username {
  color: #E5E4E2;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Bitter';
  text-shadow: 
    -1px -1px 0 #353935,  
    1px -1px 0 #353935,
    -1px 1px 0 #353935,
    1px 1px 0 #353935;
}

.trophy-card-top-row-right-side-container {
  display: flex;
  gap: 20px;
}

.trophy-card-level-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trophy-card-level-icon img {
  border: 2px solid #E5E4E2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trophy-card-level-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trophy-card-level-wrapper p {
  margin: 0;
  color: #E5E4E2;
  font-weight: 700;
  font-family: 'Montserrat';
  text-shadow: 
    -1px -1px 0 #353935,  
    1px -1px 0 #353935,
    -1px 1px 0 #353935,
    1px 1px 0 #353935;
  margin-bottom: -8px;
}

.trophy-card-level {
  color: #E5E4E2;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Montserrat';
  text-shadow: 
    -1px -1px 0 #353935,  
    1px -1px 0 #353935,
    -1px 1px 0 #353935,
    1px 1px 0 #353935;
}

.trophy-card-earned-trophies-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}

.trophy-card-earned-trophies-icon img {
  width: 40px;
  height: 40px;
  display: block;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: var(--bottom-row-height);
}

.trophy-card-game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  place-items: center;
  padding: 10px;
}

.trophy-card-game-pair {
  display: flex;
}

.trophy-card-game-logo img {
  width: calc(var(--bottom-row-height) * 0.5);
  height: calc(var(--bottom-row-height) * 0.5);
  display: block;
}

.trophy-card-trophy-container {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.trophy-card-trophy-pair {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
  margin-top: 5px;
}

.trophy-card-trophy-icon img {
  width: 25px;
  height: 25px;
  display: block;
}

.trophy-card-trophy-text {
  color: #E5E4E2;
  font-weight: 700;
  font-size: 15px;
  font-family: 'Montserrat';
  text-shadow: 
    -1px -1px 0 #353935,  
    1px -1px 0 #353935,
    -1px 1px 0 #353935,
    1px 1px 0 #353935;
  margin: 0;
}