@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
/* Icon Attribution: https://www.flaticon.com/authors/freepik | https://www.freepik.com/author/swky23 */
/* Test Image URL: https://images4.alphacoders.com/115/1159970.jpg */
#root {
  width: 100%;
  font-family: "Bitter";
  --bottom-row-height: 15vh;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  background-color: #E5E4E2;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}

.logo {
  margin-right: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  flex-shrink: 0;
  transition: box-shadow 0.3s ease-in-out;
}

.logo img:hover {
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.4);
}

.logo img {
  width: 100%;
  max-width: clamp(calc(21.688rem * 0.7), 16.944vw, calc(21.688rem * 1.2));
  margin-top: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
}

.header-container {
  background-color: #353935;
  width: 100%;
  padding: 0.625rem 0.625rem 1.25rem 1.25rem;
  border-radius: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.welcome-message {
  color: #E5E4E2;
  font-size: clamp(calc(1.125rem * 0.7), 0.879vw, calc(1.125rem * 1.2));
  line-height: 1.5;
}

.fetch-trophy-container {
  display: flex;
  gap: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  align-items: center;
  position: relative;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.input-psn-id {
  background-color: #E5E4E2;
  color: #3D6685;
  padding: 0.625rem 0.938rem;
  width: 100%;
  font-family: "Bitter";
  font-size: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  width: clamp(calc(25rem * 0.7), 19.531vw, calc(25rem * 1.2));
  border: 0;
}

.input-psn-id:focus {
  outline: none;
  border: 0;
}

.input-psn-id:focus + .shortcut-keys {
  opacity: 0.5;
}

.shortcut-keys {
  display: flex;
  align-items: center;
  position: absolute;
  right: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
}

.shortcut-keys #ctrl-key {
  height: clamp(calc(2.313rem * 0.7), 1.807vw, calc(2.313rem * 1.2));
}

.shortcut-keys #k-key {
  height: clamp(calc(1.875rem * 0.7), 1.465vw, calc(1.875rem * 1.2));
}

.buttons {
  font-weight: 700;
  font-size: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  font-family: "Montserrat";
  font-style: italic;
  color: #E5E4E2;
  background-color: #0455BF;
  padding: 0.625rem 0.938rem;
  border: #353935;
  border-radius: clamp(calc(0.188rem * 0.7), 0.147vw, calc(0.188rem * 1.2));
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
  will-change: transform;
}

.buttons:hover {
  cursor: pointer;
  outline: none;
  border: #E5E4E2;
  transform: translate3d(0, -0.125rem, 0);
}

.buttons:active {
  background-color: #0047AB;
  transform: translate3d(0, 0.063rem, 0);
  box-shadow: none;
  border: #353935;
}

.message-container {
  position: absolute;
  left: calc(100% + 0.938rem);
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.loading-text {
  color: #E5E4E2;
  font-size: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  font-weight: 700;
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.error-text {
  color: #EE4B2B;
  font-weight: 700;
  font-size: clamp(calc(1.125rem * 0.7), 0.879vw, calc(1.125rem * 1.2));
}

.content {
  display: flex;
  margin-top: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  flex-grow: 1;
  width: 100%;
}

.content-container {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #353935;
}

.content-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-image: linear-gradient(to bottom, transparent 10%, #353935 65%);
  pointer-events: none;
}

.content-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(to top, #FB5B36, transparent);
  height: clamp(calc(5rem * 0.7), 3.906vw, calc(5rem * 1.2));
  mask-image: url("/wave-mask.svg");
  mask-size: 100% 100%;
}

.profile-container {
  flex-shrink: 0;
  max-width: clamp(calc(37.5rem * 0.7), 29.297vw, calc(37.5rem * 1.2));
  width: 100%;
  border-top-left-radius: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  border-bottom-left-radius: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.avatar img {
  width: clamp(calc(12rem * 0.7), 9.375vw, calc(12rem * 1.2));
  height: clamp(calc(12rem * 0.7), 9.375vw, calc(12rem * 1.2));
  opacity: 0.8;
}

.username-and-plus {
  display: flex;
  align-items: center;
}

.username {
  margin-top: 0;
  background: linear-gradient(to right, #3D9970, #98DB7C, #3D9970);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-weight: 700;
  font-size: clamp(calc(1.563rem * 0.7), 1.221vw, calc(1.563rem * 1.2));
  font-family: "Play";
}

.plus {
  margin-bottom: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  display: none;
  margin-right: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
  flex-shrink: 0;
}

.plus img {
  width: clamp(calc(1.563rem * 0.7), 1.221vw, calc(1.563rem * 1.2));
  height: clamp(calc(1.563rem * 0.7), 1.221vw, calc(1.563rem * 1.2));
}

.plus-active {
  display: inline;
}

.level-and-trophy {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.125rem);
  -webkit-backdrop-filter: blur(0.125rem);
  padding: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
  border-radius: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  width: 50%;
}

.level-and-trophy-pair {
  display: flex;
  align-items: center;
  gap: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
}

.trophy-icon img {
  width: clamp(calc(2.188rem * 0.7), 1.709vw, calc(2.188rem * 1.2));
  height: clamp(calc(2.188rem * 0.7), 1.709vw, calc(2.188rem * 1.2));
}

.trophy-icon-text {
  font-style: italic;
  font-weight: 500;
  font-size: clamp(calc(1.125rem * 0.7), 0.879vw, calc(1.125rem * 1.2));
  font-family: "Montserrat";
}

.trophy-icon-label {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(calc(1.125rem * 0.7), 0.879vw, calc(1.125rem * 1.2));
  font-family: "Montserrat";
}

.next-level-progress-bar {
  width: 100%;
  background-color: #353935;
  border: 0.1rem solid #353935;
  overflow: hidden;
  height: clamp(calc(1.125rem * 0.7), 0.879vw, calc(1.125rem * 1.2));
  position: relative;
}

.next-level-progress-bar-fill {
  height: 100%;
  background-color: #98DB7C;
  transition: width 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.next-level-progress-bar-text {
  color: #353935;
  font-style: italic;
  font-weight: 800;
  font-size: clamp(calc(0.9rem * 0.7), 0.703vw, calc(0.9rem * 1.2));
  font-family: "Montserrat";
}

.next-level-progress-bar-text-outside {
  position: absolute;
  top: 50%;
  right: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
  transform: translateY(-50%);
  color: #E5E4E2;
  font-family: "Montserrat";
  font-size: clamp(calc(0.9rem * 0.7), 0.703vw, calc(0.9rem * 1.2));
  font-weight: 800;
  z-index: 1;
}

.last-message {
  margin-top: clamp(calc(1.25rem * 0.7), 0.977vw, calc(1.25rem * 1.2));
}

.last-message-label {
  font-size: clamp(calc(1.125rem * 0.7), 0.879vw, calc(1.125rem * 1.2));
  line-height: 1.5;
  font-style: italic;
  color: #E5E4E2;
  text-align: center;
  padding: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
  text-align: left;
}

.last-message-text {
  font-weight: 700;
}

.trophy-card-container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
  justify-content: center;
  border-top-right-radius: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  border-bottom-right-radius: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
}

.trophy-card-and-functions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(calc(2rem * 0.7), 1.563vw, calc(2rem * 1.2));
}

.trophy-card {
  width: clamp(calc(37.5rem * 0.7), 29.297vw, calc(37.5rem * 1.2));
  height: clamp(calc(12.5rem * 0.7), 9.766vw, calc(12.5rem * 1.2));
  border-radius: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.top-row {
  height: clamp(calc(3rem * 0.7), 2.344vw, calc(3rem * 1.2));
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.125rem);
  -webkit-backdrop-filter: blur(0.125rem);
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
}

.trophy-card-user-container {
  display: flex;
  align-items: center;
}

.trophy-card-avatar {
  margin-right: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
}

.trophy-card-avatar img {
  width: clamp(calc(3rem * 0.7), 2.344vw, calc(3rem * 1.2));
  height: clamp(calc(3rem * 0.7), 2.344vw, calc(3rem * 1.2));
  display: block;
}

.trophy-card-plus {
  margin-top: clamp(calc(0.438rem * 0.7), 0.342vw, calc(0.438rem * 1.2));
  margin-right: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
  display: none;
}

.trophy-card-plus img {
  width: clamp(calc(1.25rem * 0.7), 0.977vw, calc(1.25rem * 1.2));
  height: clamp(calc(1.25rem * 0.7), 0.977vw, calc(1.25rem * 1.2));
}

.trophy-card-plus-active {
  display: inline;
}

.trophy-card-username {
  color: #E5E4E2;
  font-weight: 700;
  font-size: clamp(calc(1.25rem * 0.7), 0.977vw, calc(1.25rem * 1.2));
  font-family: "Bitter";
  text-shadow: 0 0 0.5rem #353935;
}

.trophy-card-top-row-right-side-container {
  display: flex;
  gap: clamp(calc(1.25rem * 0.7), 0.977vw, calc(1.25rem * 1.2));
}

.trophy-card-level-container {
  display: flex;
  align-items: center;
  gap: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
}

.trophy-card-level-icon img {
  width: clamp(calc(2.813rem * 0.7), 2.198vw, calc(2.813rem * 1.2));
  height: clamp(calc(2.813rem * 0.7), 2.198vw, calc(2.813rem * 1.2));
  padding: clamp(calc(0.125rem * 0.7), 0.098vw, calc(0.125rem * 1.2));
  display: block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.trophy-card-level-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(calc(0.875rem * 0.7), 0.684vw, calc(0.875rem * 1.2));
}

.trophy-card-level-wrapper p {
  margin: 0;
  color: #E5E4E2;
  font-weight: 700;
  font-family: "Montserrat";
  text-shadow: 0 0 0.5rem #353935;
  margin-bottom: clamp(calc(-0.5rem * 0.7), -0.391vw, calc(-0.5rem * 1.2));
}

.trophy-card-level {
  color: #E5E4E2;
  font-weight: 700;
  font-size: clamp(calc(1.25rem * 0.7), 0.977vw, calc(1.25rem * 1.2));
  font-family: "Montserrat";
  text-shadow: 0 0 0.5rem #353935;
}

.trophy-card-earned-trophies-container {
  display: flex;
  align-items: center;
  gap: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
  margin-right: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
}

.trophy-card-earned-trophies-icon img {
  width: clamp(calc(2.188rem * 0.7), 1.709vw, calc(2.188rem * 1.2));
  height: clamp(calc(2.188rem * 0.7), 1.709vw, calc(2.188rem * 1.2));
  display: block;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: var(--bottom-row-height);
  opacity: 0.9;
}

.trophy-card-game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
  place-items: center;
  padding: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
}

.trophy-card-game-pair {
  display: flex;
}

.trophy-card-game-logo img {
  width: calc(var(--bottom-row-height) * 0.5);
  height: calc(var(--bottom-row-height) * 0.5);
  max-width: clamp(calc(3.2rem * 0.7), 2.5vw, calc(3.2rem * 1.2));
  max-height: clamp(calc(3.2rem * 0.7), 2.5vw, calc(3.2rem * 1.2));
  display: block;
}

.trophy-card-trophy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
}

.trophy-card-trophy-pair {
  display: flex;
  align-items: center;
  gap: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
  margin-right: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
  margin-top: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
}

.trophy-card-trophy-icon img {
  width: clamp(calc(1.563rem * 0.7), 1.221vw, calc(1.563rem * 1.2));
  height: clamp(calc(1.563rem * 0.7), 1.221vw, calc(1.563rem * 1.2));
  display: block;
}

.trophy-card-trophy-text {
  color: #E5E4E2;
  font-weight: 700;
  font-size: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  font-family: "Montserrat";
  text-shadow: 0 0 0.5rem #353935;
  margin: 0;
}

.trophy-card-function-container {
  display: flex;
  flex-direction: column;
  padding: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
  align-items: center;
}

.trophy-card-function-and-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
  position: relative;
}

.trophy-card-function {
  display: flex;
  gap: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
  justify-content: center;
}

.trophy-card-function-frame {
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  transform: translateY(-1.25rem);
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  position: absolute;
  top: 100%;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
}

.trophy-card-function-frame.open {
  max-height: clamp(calc(31.25rem * 0.7), 24.414vw, calc(31.25rem * 1.2));
  background-color: rgba(255, 255, 255, 0.1);
  padding: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
  border-radius: clamp(calc(0.188rem * 0.7), 0.147vw, calc(0.188rem * 1.2));
  opacity: 1;
  transform: translateY(0);
  transition: max-height 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.05s ease-in-out;
}

.trophy-card-function-frame-label {
  color: #E5E4E2;
  font-weight: 700;
  font-size: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  font-family: "Bitter";
  display: flex;
  flex-direction: column;
  gap: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
}

.trophy-card-function-frame-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.function-frame-buttons {
  font-weight: 700;
  font-size: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  font-family: "Montserrat";
  font-style: italic;
  color: #E5E4E2;
  background-color: #0455BF;
  padding: clamp(calc(0.5rem * 0.7), 0.391vw, calc(0.5rem * 1.2));
  border: #353935;
  border-radius: clamp(calc(0.188rem * 0.7), 0.147vw, calc(0.188rem * 1.2));
  transition: transform 0.2s ease-out, background-color 0.2s ease-out;
  will-change: transform;
}

.function-frame-buttons:hover {
  cursor: pointer;
  outline: none;
  border: #E5E4E2;
  transform: translate3d(0, -0.125rem, 0);
}

.function-frame-buttons:active {
  background-color: #0047AB;
  transform: translate3d(0, 0.063rem, 0);
  box-shadow: none;
  border: #353935;
}

.function-frame-buttons.is-disabled:hover {
  transform: none;
}

.function-frame-buttons.is-disabled:active {
  background-color: #808080;
  transform: none;
  box-shadow: none;
  border: #353935;
}

.input-upload-image-container {
  display: flex;
  gap: clamp(calc(0.625rem * 0.7), 0.488vw, calc(0.625rem * 1.2));
  justify-content: center;
}

.input-upload-image {
  padding: clamp(calc(0.313rem * 0.7), 0.245vw, calc(0.313rem * 1.2));
  font-size: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  width: clamp(calc(18.75rem * 0.7), 14.648vw, calc(18.75rem * 1.2));
  height: clamp(calc(1.063rem * 0.7), 0.83vw, calc(1.063rem * 1.2));
}

.input-upload-image:focus {
  outline: none;
  border: 0;
}

.input-upload-image-loading {
  width: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  height: clamp(calc(0.938rem * 0.7), 0.733vw, calc(0.938rem * 1.2));
  border: 0.313rem solid transparent;
  border-top: 0.313rem solid #98DB7C;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.border-select-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border-select-control select {
  font-weight: 700;
  font-size: clamp(calc(1rem * 0.7), 0.781vw, calc(1rem * 1.2));
  font-family: "Montserrat";
  color: #0047AB;
  background-color: #E5E4E2;
  padding: clamp(calc(0.5rem * 0.7), 0.391vw, calc(0.5rem * 1.2));
  border-radius: clamp(calc(0.188rem * 0.7), 0.147vw, calc(0.188rem * 1.2));
  width: clamp(calc(15rem * 0.7), 11.719vw, calc(15rem * 1.2));
}

/* Default Border */
.trophy-card.default {
  border: 0.1rem solid #4E5356;
}

/* White Neon Style */
.trophy-card.neon.white {
  border: 0.1rem solid #4E5356;
  box-shadow: 0 0 0 0.4rem #D3D3D3, 0 0 0 0.48rem #4E5356, 0 0 0.5rem 0.5rem #C0C0C0;
}

/* Blue Neon Style */
.trophy-card.neon.blue {
  border: 0.1rem solid #0F52BA;
  box-shadow: 0 0 0 0.4rem #2EA8FF, 0 0 0 0.48rem #0F52BA, 0 0 0.5rem 0.5rem #4682B4;
}

/* Green Neon Style */
.trophy-card.neon.green {
  border: 0.1rem solid #40826D;
  box-shadow: 0 0 0 0.4rem #0FFF50, 0 0 0 0.48rem #40826D, 0 0 0.5rem 0.5rem #50C878;
}

/* Orange Neon Style */
.trophy-card.neon.orange {
  border: 0.1rem solid #D14D00;
  box-shadow: 0 0 0 0.4rem #FF7518, 0 0 0 0.48rem #D14D00, 0 0 0.5rem 0.5rem #FFA500;
}

/* Purple Neon Style */
.trophy-card.neon.purple {
  border: 0.1rem solid #9F49FF;
  box-shadow: 0 0 0 0.4rem #B974FF, 0 0 0 0.48rem #9F49FF, 0 0 0.5rem 0.5rem #C589FF;
}

/* Red Neon Style */
.trophy-card.neon.red {
  border: 0.1rem solid #C41E3A;
  box-shadow: 0 0 0 0.4rem #FF4433, 0 0 0 0.48rem #C41E3A, 0 0 0.5rem 0.5rem #E34234;
}

/*# sourceMappingURL=Home.css.map */
